<a href="https://colab.research.google.com/github/hongnhicao28/Breakfast-at-the-Frat---A-Time-Series-Analy-/blob/main/Breakfast_at_the_frat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# feature engineering
from sklearn.model_selection import train_test_split #splitting data
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler, MinMaxScaler # standarizing /scaling data

# model
from sklearn.cluster import KMeans #model
from sklearn.neighbors import KNeighborsClassifier #model
from statsmodels.stats.outliers_influence import variance_inflation_factor # multicollinearity

# metrics
from sklearn.metrics import accuracy_score,classification_report, confusion_matrix, silhouette_score

In [ ]:
breakfast = pd.read_csv('/content/drive/MyDrive/COOP - THUYẾT TRÌNH/breakfast.csv')
breakfast.head()

<ipython-input-20-b1dcebb831d8>:1: DtypeWarning: Columns (0,13,14,15,16,17,19,20,21,23) have mixed types. Specify dtype option on import or set low_memory=False.
  breakfast = pd.read_csv('/content/drive/MyDrive/COOP - THUYẾT TRÌNH/breakfast.csv')

,WEEK_END_DATE,STORE_NUM,UPC,UNITS,VISITS,HHS,SPEND,PRICE,BASE_PRICE,FEATURE,...,STORE_ID,STORE_NAME,ADDRESS_CITY_NAME,ADDRESS_STATE_PROV_CODE,MSA_CODE,SEG_VALUE_NAME,PARKING_SPACE_QTY,SALES_AREA_SIZE_NUM,AVG_WEEKLY_BASKETS,column10
0,1/14/2009 0:00,367.0,1.111009e+09,13.0,13.0,13.0,18.07,1.39,1.57,0.0,...,367.0,15TH & MADISON,COVINGTON,KY,17140.0,VALUE,196.0,24721.0,12707.0,NaN
1,1/14/2009 0:00,367.0,1.111009e+09,20.0,18.0,18.0,27.80,1.39,1.39,0.0,...,367.0,15TH & MADISON,COVINGTON,KY,17140.0,VALUE,196.0,24721.0,12707.0,NaN
2,1/14/2009 0:00,367.0,1.111010e+09,14.0,14.0,14.0,19.32,1.38,1.38,0.0,...,367.0,15TH & MADISON,COVINGTON,KY,17140.0,VALUE,196.0,24721.0,12707.0,NaN
3,1/14/2009 0:00,367.0,1.111035e+09,4.0,3.0,3.0,14.00,3.50,4.49,0.0,...,367.0,15TH & MADISON,COVINGTON,KY,17140.0,VALUE,196.0,24721.0,12707.0,NaN
4,1/14/2009 0:00,367.0,1.111038e+09,3.0,3.0,3.0,7.50,2.50,2.50,0.0,...,367.0,15TH & MADISON,COVINGTON,KY,17140.0,VALUE,196.0,24721.0,12707.0,NaN

In [ ]:
breakfast = breakfast.drop('column10', axis=1)

In [ ]:
breakfast.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696014 entries, 0 to 696013
Data columns (total 27 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   WEEK_END_DATE            538643 non-null  object
 1   STORE_NUM                538643 non-null  float64
 2   UPC                      538643 non-null  float64
 3   UNITS                    538643 non-null  float64
 4   VISITS                   538643 non-null  float64
 5   HHS                      538643 non-null  float64
 6   SPEND                    538643 non-null  float64
 7   PRICE                    538620 non-null  float64
 8   BASE_PRICE               538458 non-null  float64
 9   FEATURE                  538643 non-null  float64
 10  DISPLAY                  538643 non-null  float64
 11  TPR_ONLY                 538643 non-null  float64
 12  UPC2                     538643 non-null  float64
 13  DESCRIPTION              538643 non-null  object
 14  MANUFACTURER             538643 non-null  object
 15  CATEGORY                 538643 non-null  object
 16  SUB_CATEGORY             538643 non-null  object
 17  PRODUCT_SIZE             538643 non-null  object
 18  STORE_ID                 538643 non-null  float64
 19  STORE_NAME               538643 non-null  object
 20  ADDRESS_CITY_NAME        538643 non-null  object
 21  ADDRESS_STATE_PROV_CODE  538643 non-null  object
 22  MSA_CODE                 538643 non-null  float64
 23  SEG_VALUE_NAME           538643 non-null  object
 24  PARKING_SPACE_QTY        172582 non-null  float64
 25  SALES_AREA_SIZE_NUM      538643 non-null  float64
 26  AVG_WEEKLY_BASKETS       538643 non-null  float64
dtypes: float64(17), object(10)
memory usage: 143.4+ MB

In [ ]:
breakfast = breakfast.dropna(subset=['WEEK_END_DATE'])

In [ ]:
breakfast['PARKING_SPACE_QTY'] = breakfast['PARKING_SPACE_QTY'].fillna(0)

In [ ]:
breakfast.info()

<class 'pandas.core.frame.DataFrame'>
Index: 538643 entries, 0 to 538642
Data columns (total 27 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   WEEK_END_DATE            538643 non-null  object
 1   STORE_NUM                538643 non-null  float64
 2   UPC                      538643 non-null  float64
 3   UNITS                    538643 non-null  float64
 4   VISITS                   538643 non-null  float64
 5   HHS                      538643 non-null  float64
 6   SPEND                    538643 non-null  float64
 7   PRICE                    538620 non-null  float64
 8   BASE_PRICE               538458 non-null  float64
 9   FEATURE                  538643 non-null  float64
 10  DISPLAY                  538643 non-null  float64
 11  TPR_ONLY                 538643 non-null  float64
 12  UPC2                     538643 non-null  float64
 13  DESCRIPTION              538643 non-null  object
 14  MANUFACTURER             538643 non-null  object
 15  CATEGORY                 538643 non-null  object
 16  SUB_CATEGORY             538643 non-null  object
 17  PRODUCT_SIZE             538643 non-null  object
 18  STORE_ID                 538643 non-null  float64
 19  STORE_NAME               538643 non-null  object
 20  ADDRESS_CITY_NAME        538643 non-null  object
 21  ADDRESS_STATE_PROV_CODE  538643 non-null  object
 22  MSA_CODE                 538643 non-null  float64
 23  SEG_VALUE_NAME           538643 non-null  object
 24  PARKING_SPACE_QTY        538643 non-null  float64
 25  SALES_AREA_SIZE_NUM      538643 non-null  float64
 26  AVG_WEEKLY_BASKETS       538643 non-null  float64
dtypes: float64(17), object(10)
memory usage: 115.1+ MB